.gradle
/build/
/lib/
/bin/
/logs/
!gradle/wrapper/gradle-wrapper.jar
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### VSCODE ###
.vscode/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS X Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.lnk
*~

### MISC ###
.java-version